<div>
    <h1>Add Sub-Category</h1>                     
</div>

<form class="formGeneral">
    <div class="row">       
        <div class="formLabelsColumn">Category</div>
        <div class="formValueColumn">
            <select>
                <option value="1001">Communication Types</option>
                <option value="1001">Job Titles</option>
                <option value="1001">Name Suffix</option>
                <option value="1001">Office Location</option>
            </select>
        </div>
        <div class="errorMsg"></div>
    </div>
    <div class="row">       
        <div class="formLabelsColumn">Name</div>
        <div class="formValueColumn">
            <input type="text" placeholder="Category Name"/>
        </div>
        <div class="errorMsg"></div>
    </div>
    <div class="row">       
        <div class="formLabelsColumn">Code</div>
        <div class="formValueColumn">
            <input type="text" placeholder="CODE"/><span class="CodeInfo">*</span>
        </div>
        <div class="errorMsg"></div>
    </div>
    <div class="row">       
        <div class="formLabelsColumn">Short Description</div>
        <div class="formValueColumn">
            <textarea></textarea><span class="ShortDescInfo">*</span>
        </div>
        <div class="errorMsg"></div>
    </div>
    <div class="row">       
        <div class="formLabelsColumn">Long Description</div>
        <div class="formValueColumn">
            <textarea></textarea><span class="LongDescInfo">*</span>
        </div>
        <div class="errorMsg"></div>
    </div>
        
    <div class="row">       
        <div class="formLabelsColumn"></div>
        <div class="formValueColumn">
            <button class="btn CommandButton">Save</button>
        </div>

    </div>
</form>
