<div>
    <h1>Add Person</h1>                     
</div>

<form class="formGeneral">
    <div class="row">       
        <div class="formLabelsColumn">First Name</div>
        <div class="formValueColumn">
            <input type="text" placeholder="First Name"/>
        </div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn">Middle Name</div>
        <div class="formValueColumn"><input type="text" placeholder="Middle Name"/></div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn">Last Name</div>
        <div class="formValueColumn"><input type="text" placeholder="Last Name"/></div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn">Suffix</div>
        <div class="formValueColumn">
            <select>
                <option value="1001">Sr.</option>
                <option value="1002">Jr.</option>
                <option value="1003">III</option>
                <option value="1004">IV</option>
            </select>
        </div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn">E-Mail</div>
        <div class="formValueColumn"><input type="email" placeholder="E-Mail Address"/></div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn"></div>
        <div class="formValueColumn">
            <button class="btn CommandButton">Save</button>
        </div>

    </div>
</form>
