<div>
    <h1>Add Category</h1>                     
</div>

<form class="formGeneral">
    <div class="row">       
        <div class="formLabelsColumn">Name</div>
        <div class="formValueColumn">
            <input type="text" placeholder="Category Name"/>
        </div>
        <div class="errorMsg"></div>
    </div>
        
    <div class="row">       
        <div class="formLabelsColumn"></div>
        <div class="formValueColumn">
            <button class="btn CommandButton">Save</button>
        </div>

    </div>
</form>

