<div>
    <h1>Add Employee</h1>                     
</div>

<form class="formGeneral">
    <div class="row">       
        <div class="formLabelsColumn">Job Title</div>
        <div class="formValueColumn">
            <Select>
                <option value="1001">Sr. Developer</option>
                <option value="1002">Jr. Developer</option>
                <option value="1003">Developer</option>
                <option value="1004">System Admin</option>
                    
            </Select>
        </div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn">Office Location</div>
        <div class="formValueColumn"><Select>
                <option value="1001">Dallas, TX</option>
                <option value="1002">Houston, TX</option>
                <option value="1003">Austin, TX</option>
                <option value="1004">Denver, CO</option>
                    
            </Select></div>
        <div class="errorMsg"></div>
    </div>

    <div class="row">       
        <div class="formLabelsColumn"></div>
        <div class="formValueColumn">
            <button class="btn CommandButton">Save</button>
        </div>

    </div>
</form>