<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/css/EmployeeDirectory.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div style="width: 8vw;border: 1px solid red;margin: 1%; display: inline-block;">
            <a href="#" style="text-decoration: none;">
                <div class='photo' style='height: 9vh;'>
                    <img src="../assets/images/man1.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>
                </div>
                <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                    <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Davis Sylvester</span></div>
                    <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Sr. Developer</span></div>
                    <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Dallas, TX</span></div>
                </div>
            </a>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman8.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman3.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman5.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/man5.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman8.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman3.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/woman5.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/man5.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>

        <div style="width: 8vw;border: 1px solid red;margin: 1%; margin-left: 0;display: inline-block;">
            <div class='photo' style='height: 9vh;'>
                <img src="../assets/images/man5.jpg" alt="Buckwheat" style='height: 100%;width: 100%;margin: 0;padding:0;'/>                
            </div>
            <div class='personalData' style='vertical-align: top;height: 7vh;background: #234c65;color: #fff;'>
                <div class='Name' style='height: 2vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 80%;'>Eva Longoria</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Housewife</span></div>
                <div class='Name' style='height: 1.5vh;text-align: left;margin-top: 2%;padding-left: 6%;font-family: "Encode-Med";'><span style='font-size: 50%;'>Fairview, EG</span></div>
            </div>
        </div>
    </body>
</html>
